@model IEnumerable<Manufacturing.Models.Vendors.VendorViewModel>
@{
    ViewData["Title"] = "Vendor Card";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h1 class="card-title">@ViewData["Title"]</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Vendor List</h2>
            </div>
            <div class="card-body card-padding">
                <table id="tableVendors" class="display table table-primary">
                    <thead>
                        <tr>
                            <th data-column-id="VendorId">Id</th>
                            <th data-column-id="VendorNo">No</th>
                            <th data-column-id="VendorName">Name</th>
                            <th data-column-id="VendorAddress">Address</th>
                            <th data-column-id="VendorContact">Contact</th>
                            <th data-column-id="action" data-formatter="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vendors in Model)
                        {
                            <tr>
                                <td>@vendors.VendorId</td>
                                <td>@vendors.VendorNo</td>
                                <td>@vendors.VendorName</td>
                                <td>@vendors.VendorAddress</td>
                                <td>@vendors.VendorContact</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/sources/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script type="text/javascript" src="~/backend/vendors/index.js"></script>
 }