@model Manufacturing.Models.Hpp.ModelMixing
@{
    ViewData["Title"] = "Mixing";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}
@section Styles{
    <style>
        .judul-label {
            width: 30%
        }
    </style>
    <link rel="stylesheet" href="~/sources/vendors/bowercomponents/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/sources/vendors/bootgrid/jquery.bootgrid.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h2 class="text-capitalize">@ViewData["Title"] - @ViewBag.Product</h2>
        </div>
        <!--untuk card header-->
        <div class="card" id="card-header">
            <div class="card-header">
                <h2 class="card-title">Mixing @ViewBag.Product</h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" id="AddMixingSize" style="width:200px">Add Mixing Size</button><br /><br />
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="judul-label">Description</label>
                                <label>:</label>
                                @Html.DisplayFor(a => a.master.Description)
                            </div>
                            <div class="form-inline">
                                <label class="judul-label">Description</label>
                                <label>:</label>
                                @Html.DisplayFor(a => a.detailProcessHeader.Description)
                            </div>
                            <div class="form-inline">
                                <label class="judul-label">Mixing Size</label>
                                <label>:</label>
                                @Html.DisplayFor(a => a.detailProcessHeader.ProcessSize)
                            </div>
                            <div class="form-inline">
                                <label class="judul-label">FOH Batch Size</label>
                                <label>:</label>
                                @Html.DisplayFor(a => a.fOHBreakdown.SubProcessSize)
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalHeader" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form id="formHeader">
                                        <fieldset id="submitForm">
                                            <input type="hidden" id="ModelId" name="ModelId" value="@ViewBag.ModelId" />
                                            <div class="col-12">
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="number" class="form-control" name="ProcessSize" required />
                                                        <label class="fg-label">Mixing Size (liters)<span class="text-danger">*</span></label>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="text" class="form-control" name="Description" required />
                                                        <label class="fg-label">Description <span class="text-danger">*</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" id="btnAddHeader"><span class="zmdi zmdi-save"> </span>  Save</a>
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Modal-->
                </div>
            </div>
        </div>
        <!--Akhir Card header-->
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/sources/vendors/bowercomponents/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/sources/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/localization/messages_id.js"></script>
    <script type="text/javascript" src="~/backend/HPP/MixingForm.js"></script>
}