
@{
    ViewData["Title"] = "Packing Cukai";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/sources/vendors/bowercomponents/chosen/chosen.min.css" />
}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2 class="text-capitalize">@ViewData["Title"] - @ViewBag.BomName</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@ViewData["Title"] Data</h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <input type="text" id="BomId" class="hide" value="@ViewBag.BomId" />
                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <input type="number" class="input-sm form-control fg-input" id="BottlePerBatch">
                                <label class="fg-label">Bottle Per Batch</label>
                            </div>
                        </div>
                        <p class="f-500 c-black m-b-15">Labour Type</p>
                        <select id="LabourType" class="chosen" data-placeholder="Choose Labour Type">
                            <option value="">Choose Labour</option>
                            <option value="35000">Production Staff</option>
                            <option value="45000">Supervisor</option>
                            <option value="15625">Daily Worker</option>
                            <option value="50000">Tenaga Ahli</option>
                        </select>
                        <br /><br />
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <input type="number" class="input-sm form-control fg-input" id="QtyLabour" value="0">
                                <label class="fg-label">Qty Labour</label>
                            </div>
                        </div>
                        <div class="form-group fg-float">
                            <div class="fg-line">
                                <input type="number" class="input-sm form-control fg-input" id="LabourHour" value="0">
                                <label class="fg-label">Labour Hour</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@ViewData["Title"] - Summary Table</h2>
            </div>
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <table id="tableSummary" class="table table-valign-middle table-bordered table-hover display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br /><br /><br />
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="number" class="input-sm form-control fg-input" id="TotalPerBatch" disabled>
                            <label class="fg-label">Total Per Batch</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <input type="number" class="input-sm form-control fg-input" id="TotalPerBottle" disabled>
                            <label class="fg-label">Total Per Bottle</label>
                        </div>
                    </div>
                    <br />
                    <br />
                    <button type="button" class="btn btn-primary pull-right" id="btnNext" style="width:200px">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/sources/vendors/bowercomponents/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/backend/HPP/PackingCukaiForm.js"></script>
}