@model Manufacturing.Models.Hpp.ModelRateViewModel
@{
    ViewData["Title"] = "Tank Rate";
    Layout = "~/Views/Shared/Material/_Layouts.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/sources/vendors/bootgrid/jquery.bootgrid.min.css" />
    <link rel="stylesheet" href="~/sources/vendors/bowercomponents/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
}

<section id="content">
    <div class="container">
        <div class="c-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <button onclick="Add()" class="btn btn-primary">Add Rates</button>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="TablesData" class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th data-column-id="RateNo" data-visible="false">Rate No</th>
                                    <th data-column-id="RateName" >Name</th>
                                    <th data-column-id="Price" data-formatter="Price" >Price</th>
                                    <th data-column-id="SetupCost" data-formatter="SetupCost" >Setup Cost</th>
                                    <th data-column-id="MaintenanceCost" data-formatter="MaintenanceCost" >Avg. Maintenance</th>
                                    <th data-column-id="Salvage" data-formatter="Salvage" >Salvage Value</th>
                                    <th data-column-id="AgeUsed" data-formatter="Age">Age Used</th>
                                    <th data-column-id="Capacity" data-formatter="Capacity">Capacity</th>
                                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lisRateMaster)
                                {
                                    <tr>
                                        <td>@item.RateNo</td>
                                        <td>@item.RateName</td>
                                        <td>@item.Price</td>
                                        <td>@item.SetupPrice</td>
                                        <td>@item.MaintenancePrice</td>
                                        <td>@item.SalvageValue</td>
                                        <td>@item.AgeUsedMonth</td>
                                        <td>@item.Capacity</td>
                                    </tr>
                                 }
                            </tbody>
                        </table>
                    </div>
                    <!--Modal Start-->
                    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form id="formInput">
                                        <fieldset id="submitForm">
                                        <input type="hidden" id="RateNo" name="RateNo" />
                                        <input type="hidden" id="RateType" name="RateType" value="Tangki" />
                                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="text" class="form-control" name="RateName" id="RateName" required />
                                                        <label class="fg-label">Name<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.RateName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="number" class="form-control" name="Price" id="Price" required />
                                                        <label class="fg-label">Price<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.Price" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line cost-line">
                                                        <input type="number" class="form-control" name="SetupPrice" id="SetupPrice" value="0" required />
                                                        <label class="fg-label">Setup Cost<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.SetupPrice" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line cost-line">
                                                        <input type="number" class="form-control" name="MaintenancePrice" id="MaintenancePrice" value="0" required />
                                                        <label class="fg-label">Avg. Maintenance Cost<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.MaintenancePrice" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group fg-float">
                                                    <div class="fg-line cost-line">
                                                        <input type="number" class="form-control" name="SalvageValue" id="SalvageValue" value="0" required />
                                                        <label class="fg-label">Salvage Value<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.SalvageValue" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="number" class="form-control" name="AgeUsedMonth" id="AgeUsedMonth" required />
                                                        <label class="fg-label">Maximum Age Used (Month)<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.AgeUsedMonth" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group fg-float">
                                                    <div class="fg-line">
                                                        <input type="number" class="form-control" name="Capacity" id="Capacity" required />
                                                        <label class="fg-label">Capacity (Liters)<span class="text-danger">*</span></label>
                                                        <span asp-validation-for="rateMaster.Capacity" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" id="AddNew"><span class="zmdi zmdi-save"> </span>  Save</a>
                                    <a href="#" class="btn btn-primary" id="updateform"><span class="zmdi zmdi-save"> </span>  Save</a>
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--Modal End-->
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/sources/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    <script type="text/javascript" src="~/sources/vendors/bowercomponents/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-validation/localization/messages_id.js"></script>
    <script type="text/javascript" src="~/backend/HPP/Tangki.js"></script>
}
